# files you dont need to commit
.DS_Store
*.log
.env

# maybe you should commit these, maybe not
# idk, google it
# yarn.lock

# compiled output directories
/dist
/lib
bin/*.js


# development/dependency directories
node_modules
.cache
components